#container {
    margin-right: 6px;
    position: relative;
}

.hide {
    display: none;
}

#popupMenu {
    position: absolute;
    left: 0;
    bottom: calc(100% + 20px);

    padding: 20px;
    width: 200px;
    height: fit-content;

    z-index: 2;
    background-color: white;
    color: black;
}

.pipBtn {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    cursor: pointer;
    background-color: #3C4043;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pipBtn:hover {
    background-color: #5f636894;
}

.listItem {
    height: 30px;

    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItem:hover {
    border-left: solid purple 2px;
    background-color: rgba(228, 0, 228, 0.733);

    font-weight: bold;
    font-style: italic;
}