@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Poppins-Regular.ttf'); 
   }

.popup-menu {
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
}

.popup-menu .title {
    color: purple;
    font-weight: bold;
    font-size: medium;
    margin: 5px 0;
}

.popup-menu .instructions {
    color: gray;
    font-size: 12px;
}


.container {
    margin-left: 6px;
    margin-right: 6px;
    position: relative;
}

.hide {
    display: none;
}

.pipMenuHeader, .fullScreenMenuHeader {
    padding: 20px 20px 0;
}

.pipMenuBody, .fullScreenMenuBody {
    padding: 0 20px;
}

.pipMenuFooter, .fullScreenMenuFooter {
    padding: 0 20px 20px;
}

#pipMenu, #fullScreenMenu {
    position: absolute;
    left: 0;
    bottom: calc(100% + 20px);

    min-width: 200px;
    width: fit-content;
    height: fit-content;

    z-index: 2;
    background-color: white;
    color: black;
}

.pipBtn, .fullScreenBtn {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    cursor: pointer;
    background-color: #3C4043;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pipBtn:hover, .fullScreenBtn:hover {
    background-color: #5f636894;
}

.listItem {
    height: 33px;
    font-size: 12px;

    cursor: pointer;
    border-radius: 10px;
    padding-left: 25px;
    
    display: flex;
    align-items: center;
    justify-content: left;
}

.listItem:hover, .selected {
    font-weight: bold;
}

.selected:hover {
    color: white;
    background-color: purple;

}

.selected {
    color: rgb(167, 0, 167);
}

#checkboxDiv, #countDiv {
    font-weight: bold;
    font-size: smaller;

    display: flex;
    align-items: center;
    justify-content: left;
}

.videosDiv {
    margin: 5px 0;
    border: lightgrey solid 2px;
    border-radius: 5px;
    max-height: 83px;
    overflow-x: hidden;
    overflow-y: auto;
}

#enterFullScreenBtn, #startPipBtn {
    background: none;
    border: purple solid 2px;
    border-radius: 5px;
    padding: 5px;

    color: purple;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#enterFullScreenBtn:hover, #startPipBtn:hover {
    background-color: purple;
    color: white;
}