#container {
    margin-right: 6px;
    position: relative;
}

.hide {
    display: none;
}

#popupMenu {
    position: absolute;
    left: 0;
    bottom: calc(100% + 20px);

    padding: 20px;
    width: 200px;
    height: fit-content;

    background-color: white;
    color: black;
}

.pipBtn {
    height: 40px;
    width: 40px;
    border-radius: 100px;
    cursor: pointer;
    background-color: #3C4043;

    display: flex;
    justify-content: center;
    align-items: center;
}

.pipBtn:hover {
    background-color: #5f636894;
}